.logo {
    text-align: left;
    align-items: left;
    margin-left: 10px;
    opacity: 0.9;
}
#brilho2{
    transition-duration: 0.5s;
}
#brilho2:hover{
    opacity: 1;
    }
#f5{
    border-radius: 6px;
    background-color: transparent;
    color: floralwhite;
    cursor: pointer;
    border: none;
}
.titulo{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 18%;
}
.search-container {
    display:flex;
    margin-right: 10px;
    justify-content: right;
    align-items: right;
    margin-top: 0px;
    opacity: 0;
    animation: fade-in 3s ease forwards ;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: normal;
}
@keyframes fade-in {
   0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.search-input {
    padding: 4px 12px;
    border: 1px solid #f1580c;
    border-radius: 4px;
    font-size: 14px;
    width: 100px;  
    opacity: 1;
   
    background-color: transparent;
    color: #ffffff;     
}
.search-button {
    padding: 4px 11px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b );
    border: none;
    border-radius: 4px;
    color: #f1580c;
    font-size: 16px;
    text-shadow: #f5793b;
    margin-left: 8px;
    cursor: pointer;
}
#grad {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(39, 30, 30), #f5793b);
    z-index: -1;
  }
#brilho:hover{
opacity: 0.6;
}

.footer{
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    
}
.tabela{
    border-color: #ffffff;
    color: #ffffff;
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 0;  
}
#coluna{
    color: #ffffff;
}
.foot{
    width: 100%;
   background-color: rgba(0, 0, 0, 0.5); 
    font-size: 14px;
    max-width: 100%;
    color: #ffffff;
    font-family: Noto Sans, sans-serif;
}
.produtos{
    margin: auto;
}
.botao
{
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b );
    cursor: pointer;
    border: none;
    height: 150px;
    color: #ffffff;
}
.botao2
{
    border-radius: 6px;
    background-color: transparent;
    color: floralwhite;
    cursor: pointer;
    border: none;
}
.botao1
{
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b      );
    cursor: pointer;
    border: none;
}
#anima:hover
{
    height: 150px;
    width: 180px;
    background-image: linear-gradient(to bottom right, #f1580c00, #f5793b00      );
    
}
.footer2{
    margin-top: 1%;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    
}
.desc{
    margin-top: 10px;
    color: #ffffff;
    margin: auto;
    font-family: Noto Sans, sans-serif;
    font-size: 14px;
    border-radius: 8px;
}
#p3060{
    display: flex;
    justify-content: center;
}
.animacao_placa{
transition-duration: 1.0s;
opacity: 0.3;
}
.animacao_placa:hover{
    opacity: 1;
    width: 600px;
    cursor: zoom-in;
}
.nome{
    text-align: center;
    justify-content: center;
    background-color: #c4612867;
    margin-left: 30%;
    margin-right: 30%;
    font-size: large;
    border-radius: 8px;
    color: #ffffff;
    font-family: Arial, sans-serif;
}
    .nome2{
        text-align: center;
        justify-content: center;
        background-color: #c4612867;
        margin: auto;
        font-size: large;
        border-radius: 8px;
        color: #ffffff;
        font-family: Arial, sans-serif;

}
h1{
    margin: 0%;
}
h3{
    margin: 0%;
}
.animacao_placa3{
    transition-duration: 1.0s;
    opacity: 0.8;
}
.animacao_placa3:hover{
 opacity: 1;
 width: 150px;
 cursor: zoom-in;
}
#anima2{
    transition-duration: 0.5s;
}
#anima2:hover{
 background-image: none;

}
#centro{
    text-align: center;
    justify-content: center;
    align-items: center;
}

