.logo {
    text-align: left;

}

.titulo{
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    word-spacing: -50px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 8px darkblue;
    
}
.box{
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://img.freepik.com/fotos-gratis/fundo-abstrato-com-textura-de-vidro-estampado_53876-125882.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.glass{
    width: 300px;
    height: 300px;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    background: linear-gradient(100deg, rgba(0,0,0,.2), rgba(0,0,0,.50));
    box-shadow: 0 10px 26px 0 rgba(0,0,0,.60);

}