.logo {
    text-align: left;
    align-items: left;
    margin-left: 10px;
    opacity: 0.5;
}
#brilho2{
    transition-duration: 1.0s;
}
#brilho2:hover{
    opacity: 1;
    }
#f5{
    border-radius: 6px;
    background-color: transparent;
    color: floralwhite;
    cursor: pointer;
    border: none;
}


.titulo{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    margin-left: 18%;
    /* font-size: 30px;
    letter-spacing: 15px;
    word-spacing: -30px;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px rgb(255, 255, 255), 0 0 8px rgb(244, 244, 247);
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 25px blue, 0 0 8px darkblue; */
}




.search-container {
    display:flex;
    margin-right: 10px;
    justify-content: right;
    align-items: right;
    margin-top: 0px;
    opacity: 0;
    animation: fade-in 3s ease forwards ;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: normal;
    
}
@keyframes fade-in {
   0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.search-input {
    padding: 4px 12px;
    border: 1px solid #f1580c;
    border-radius: 4px;
    font-size: 14px;
    width: 90px;  
    opacity: 1;
   
    background-color: transparent;
    color: #ffffff;     

}
.search-button {
    padding: 4px 11px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b );
    border: none;
    border-radius: 4px;
    color: #f1580c;
    font-size: 16px;
    text-shadow: #f5793b;
    margin-left: 8px;
    cursor: pointer;
}
#grad {
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(39, 30, 30), #f5793b);
    height: 100%;
    z-index: -1;
  }
#brilho:hover{
opacity: 0.6;
}

.footer{
    margin-bottom: -8px;
   
    /* padding: 0% 0% 0% 0%; */
    margin-left: -8px;
    margin-right: -8px;
    
}
.tabela{
    border-color: #ffffff;
    color: #ffffff;
    border: 1px solid;
    border-collapse: collapse;
    border-spacing: 0;  
    
    
}
#coluna{
    color: #ffffff;
}
.foot{
    /* tab-size: 100%; */
    width: 100%;
  
   /* style="  background-image: linear-gradient(to bottom right, #e76626, #000000, ); " */
   background-color: rgba(0, 0, 0, 0.5); 
    font-size: 15px;
    max-width: 100%;
    color: #ffffff;
    
}
.produtos{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}
.botao
{
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b );
    cursor: pointer;
    border: none;
    height: 150px;
    color: #ffffff;
}
.botao2
{
    border-radius: 6px;
    background-color: transparent;
    color: floralwhite;
    cursor: pointer;
    border: none;
}
.botao1
{
    border-radius: 6px;
    background-image: linear-gradient(to bottom right, #f1580c, #f5793b      );
    cursor: pointer;
    border: none;
}
#anima:hover
{
    height: 150px;
    width: 180px;
    background-image: linear-gradient(to bottom right, #f1580c00, #f5793b00      );
    
}
.footer2{
    margin-top: 14.3%;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    
}


